{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="mb-5 mt-5">Produits</h1>
		<div class="row">
			{% for product in products %}
				<div class="col-md-3 mt-4">
					<div class="card" style="width: 18rem;">
						<img src="{{ asset('images/'~product.image)}}" class="imgproduct card-img-top" alt="image des produits">
						<div class="card-body">
							<a class="titleProdLink" href="{{ path('app_home_product_show',{'id':product.id}) }}">
								<h5 class="card-title titleProduct">{{ product.name }}</h5>
							</a>
							<p class="card-text">{{ product.Description|slice(0,60) }}</p>
							<h3>{{ product.price }}
								€</h3>
							{% if product.stock > 0 %}
							<a href="{{ path('app_cart_new',{'id':product.id}) }}" class="btn btn-outline-success">Ajouter au panier</a>
							{% else %}
							<button class="btn btn-secondary w-100" disabled>Rupture de stock</button>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		{{ knp_pagination_render(products, 'layouts/pagination_template.html.twig')}}
	</div>

{% endblock %}
