{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
<div class="container">
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ product.Name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.Description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ product.Price }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('app_product_index') }}">Retour à la liste</a>

    <a class="btn btn-outline-warning" href="{{ path('app_product_edit', {'id': product.id}) }}">Modifier</a>

    <a class="btn btn-outline-primary" href="{{ path('app_product_stock_add_history', {'id': product.id}) }}">Afficher l'historique de stock</a>

    {{ include('product/_delete_form.html.twig') }}
</div>
    
{% endblock %}
