{% extends 'base.html.twig' %}

{% block title %}Commandes en cours{% endblock %}

{% block body %}
<div class ="container">
    < class="row">
        <div class="col-8">
    <h1 class="mt-4 mb-4">Mes commandes</h1>
    {{form_start(form)}}
        <input class="btn" type="submit" value="Continuer">
    {{form_end(form)}}
        </div>
        <div class="col-4">
    {# <table class="table table-bordered">
        <tr>
            <th>Numéro de commande</th>
            <th>Date de commande</th>
            <th>Statut</th>
            <th>Total</th>
        </tr>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.createdAt|date('Y-m-d H:i') }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.total }}</td>
            </tr>
        {% else %}
            <p>Aucune commande trouvée.</p>
        {% endfor %}
    </table> #}
        </div>
    </div>
</div>
{% endblock %}
