{% extends 'base.html.twig' %}

{% block title %}Commandes en cours{% endblock %}

{% block body %}
<div class ="container">
    <div class="row">
        <div class="col-8">
            <h1 class="mt-4 mb-4">Mes commandes</h1>
            {{form_start(form)}}
            {{form_widget(form)}}
                <input class="btn btn-success" type="submit" value="Continuer">
            {{form_end(form)}}
        </div>
        <div class="col-4 mt-5">
            <span class="mb-2">Montant à payer : </span>
            <h3>
                <span id="card-price">{{ total }} €</span>
            </h3>
            <span>Frais de livraison :</span>
            <h3>
                <span id="shippingCost"></span>
                €
            </h3>
            <span>Montant total à payer : </span>
            <h3>
                <span class="total-price"></span>
                €
            </h3>
        </div>
    {# <table class="table table-bordered">
        <tr>
            <th>Numéro de commande</th>
            <th>Date de commande</th>
            <th>Statut</th>
            <th>Total</th>
        </tr>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.createdAt|date('Y-m-d H:i') }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.total }}</td>
            </tr>
        {% else %}
            <p>Aucune commande trouvée.</p>
        {% endfor %}
    </table> #}
        </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
{# // <script>$(document).ready(function(){alert('hello world')});</script> #}
<script>
$(document).ready(function(){
    const citySelector = $('#order_city');
    const cityValue = citySelector.val();

    const url = `/city/${cityValue}/shipping/cost`;

    function ajaxRequest(url) {
        $.ajax({
            url:url,
            type : 'GET',
            success:function(response){
                const newResponse = JSON.parse(response)

                if (parseInt(newResponse.status) === 200){
                    console.log(newResponse.status)
                    $("#shippingCost").text(newResponse.content)

                    const cardPrice = parseInt($('#card-price').text());
                    const shippingCost = parseInt($('#shippingCost').text());
                    $('.total-price').text(cardPrice + shippingCost);

                }
            },
            error:function(xhr,status,error){

            }
        })
    }

    ajaxRequest(url)

    citySelector.on('change', function(){
        const urlUpdate = `/city/${$(this).val()}/shipping/cost`;
        ajaxRequest(urlUpdate)
    })

})        
</script>
{% endblock %}
