{# {% extends 'base.html.twig' %} #}

{# {% block title %}Factures{% endblock %} #}

{% block body %}
    <div class="container">
    <!--Possible de mettre le logo de l'entreprise ici en html-->
    <h1>Confirmation de commande n°{{ order.id }}</h1>
    <span>Date: {{ order.createdAt|date }}</span>
    <p>Merci pour votre commande elle sera traité dans les plus brefs délais</p>
        <span class='text-primary'>Détail de la commande</span>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Téléphone</th>
                <th>Adresse</th>
                <th>Ville</th>
            </tr>
        </thead>
        <tr>
            <td>{{ order.firstName }} </td>
            <td>{{ order.lastName }} </td>
            <td>{{ order.phone }} </td>
            <td>{{ order.adresse }} </td>
            <td>{{ order.city.name}} </td>
        </tr>
        </table>
        <span class='text-primary'>Corps de la commande</span>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nom du produit</th>
                    {# <th>Description du produit</th> #}
                    <th>Prix du produit</th>
                    <th>Quantité</th>
                    <th>Prix total</th>
                </tr>
            </thead>
            {% for item in cart %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    {# <td>{{ item.product.description|slice(0,100)}}</td> #}
                    <td>{{ item.product.price}} €</td>
                    <td>{{ item.quantity}}</td>
                    <td>{{ item.product.price*item.quantity}} €</td>
                </tr>
            {% endfor %}
        </table>

        <br><br><br>
        <span>Frais de livraisons : {{ order.city.shippingCost }} €</span>
        <hr>
        <h5 class='mb-5'>Total à payer : {{ order.totalPrice }} €</h5>
    </div>
{% endblock %}